input {
  margin: 25px;
  text-align: center;
}

.App {
  text-align: center;
  width: 100vw;
}

.selected {
  border: 1px solid black;
}

.list-item {
  width: 100vw;
  text-align: center;
  font-size: 25px;
}

.complete {
  color: green;
  text-decoration: line-through;
}

.button {
  margin: 15px;
}